body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.parent {
   width: 90%;
   height: 250px;
   box-sizing: border-box;
   border: 3px solid gold;
   background: rgb(52, 86, 155);
   margin: 5px;
   font-weight: bold;
   position: relative;
}
.child {
   height: 100%;
   width: 25%;
   box-sizing: border-box;
   border: 3px solid gray;
   background-color: rgb(166, 214, 166);
   transition: all 0.3s ease 0s;
   position: absolute;
   background-image: none;
   text-align: center;
   text-align: center;
}
.child p {
   color: red;
   margin-top: 5px;
   font-size: 20px;
   display: none;
}
.child img {
   height: 150px;
   width: 150px;
}
img.happy {
   display: inline-block;
}
img.sad {
   display: none;
}
@keyframes active {
   0% {
      left: 0;
   }
   25% {
      left: 75%;
   }
   50% {
      left: 0;
   }
   75% {
      left: 75%;
   }
   100% {
      left: 0;
   }
}
.child {
   animation-name: active;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}

.child.paused {
   animation-play-state: paused;
}
.child.paused p {
   display: block;
}
.child.paused img.happy {
   display: none;
}
.child.paused img.sad {
   display: inline-block;
}
button {
   border: none;
   background-color: rgb(111, 198, 111);
   font-size: 20px;
   text-transform: uppercase;
   padding: 15px;
}
button:hover {
   background-color: rgb(65, 115, 65);
}
button:active {
   border: 1px solid black;
}
button.paused {
   background-color: rgb(198, 111, 111);
}
button.paused:hover {
   background-color: rgb(115, 65, 65);
}
button.paused:active {
   border: 1px solid black;
}
